.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
  min-height: 100em;
/* gradient courtesy of mdn: https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient */
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

.list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 375px;
  min-height: 400px;
  border: 1px solid white;
  border-radius: 6px;
  background-color: white;
  margin-top: 36px;
}

.header {
  height: 102px;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #d3d3d3;
}

.header-date-wrapper {
  margin-left: 26px;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 26px;
}

.header-inner-date-wrapper {
  display: flex;
}

.header-day {
  font-size: 26px;
  font-weight: bold;
  color: #4C9CEC;
}

.header-date {
  font-size: 26px;
  margin-left: 2px;
  color: #4C9CEC;
}

.header-month {
  color: #d3d3d3;
  margin-top: 12px;
}

.number-of-tasks {
  font-size: 14px;
  color: #d3d3d3;
  margin-left: auto;
  margin-right: 26px;
  margin-top: 26px;
  height: 30px;
  display: flex;
  align-items: flex-end;
}

.popup {
  position: absolute;
  margin-top: 30px;
  width: 275px;
  height: 118px;
  border: 2px solid #d3d3d3;
  border-radius: 6px;
  background-color: white;
  left: 50px;
  display: flex;
  flex-direction: column;
  padding-top: 26px;
}

.popup-flex {
  display: flex;
  margin-left: 26px;
  margin-bottom: 8px;
}

.popup-label {
  color: #838383;
  width: 48px;
}

.popup-input {
  color: #838383;
  font-family: sans-serif;
}

.submit-button {
  width: 80px;
  height: 30px;
  background-color: #4C9CEC;
  margin-left: 26px;
  margin-top: 8px;
  border-radius: 4px;
  border: 1px solid #4C9CEC;
  color: white;
  outline: none;
}

.item {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  align-items: center;
  justify-content:
}

.list-time {
  margin-left: auto;
  margin-right: 26px;
  font-family: sans-serif;
  color: #d3d3d3;
  font-size: 12px;
}

.item-checkbox {
  margin-left: 26px;
  margin-right: 26px;
}

.item-name {
  font-family: sans-serif;
  color: #838383;
}

.finished-item-name {
  font-family: sans-serif;
  color: #d3d3d3;
  text-decoration: line-through;
}

.create-item {
  width: 48px;
  height: 48px;
  background-color: #F75B48;
  border: 1px solid #F75B48;
  border-radius: 50%;
  position: absolute;
  right: 26px;
  top: 78px;
  color: white;
  font-size: 22px;
  outline: none;
}
